:root {
--color00: #000000;
--color01: #000000;
--color02: #000000;
--color03: #f0eaed;
--color04: #ffffff;
--color05: #e6e6e6;
--color06: #ffffff;
--color07: #ffffff;
--color08: #E85F6F;
--color09: #D4A882;
--color0A: #E6BA94;
--color0B: #F29B9A;
--color0C: #E8C099;
--color0D: #D9A56C;
--color0E: #D1B399;
--color0F: #FF7A8A;
}
